<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="stylesheet" href="">
        {# Run `composer require symfony/webpack-encore-bundle`
           and uncomment the following Encore helpers to start using Symfony UX #}
        {% block stylesheets %}
            {#{{ encore_entry_link_tags('app') }}#}
        {% endblock %}

        {% block javascripts %}
            {#{{ encore_entry_script_tags('app') }}#}
        {% endblock %}
    </head>
    <body>
        <nav>
            <div>
                <ul>
                    <li><a href="{{ path('home') }}">Home</a></li> 
                    <li><a href="{{ path('ask_a_quote_user_form') }}">Demander un devis</a></li> 
                    <li><a href="{{ path('gallery') }}">Gallerie</a></li>  
                    <li><a href="{{ path('about') }}">A propos</a></li>
                </ul>
            </div>
        </nav>
        
        <div class="body">
            {% block body %}{% endblock %}
        </div>
        
    </body>
</html>
